@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-image: url("bg.jpg");
    background-size: cover;
}

* {
    font-family: 'Poppins', sans-serif;
}

.profile-image {
    height: 180pt;
    width: 180pt;
    overflow: hidden;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid rgba(255, 255, 255, 0.16);
    backdrop-filter: blur(2px) saturate(150%);
    --webkit-backdrop-filter: blur(2px) saturate(150%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.profile-image img{
    height: 300pt;
    width: auto;
    object-fit: cover;
    transition: 1s;
}

.profile-image img:hover {
    transform: scale(1.3);
    cursor: pointer;
}

#name-card {
    padding: 5pt;
    height: auto;
    width: fit-content;
    margin-top: 5pt;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 15pt;
    border: 1px solid rgba(255, 255, 255, 0);
    color: rgba(0, 0, 0, 0);
    transition: 1s ease-in-out;
    font-weight: 500;
}

#name-card.glass {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.16);
    backdrop-filter: blur(2px) saturate(150%);
    --webkit-backdrop-filter: blur(2px) saturate(150%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.glass-card {
    width: fit-content;
    height: fit-content;
    padding: 10pt;
    border-radius: 20pt;
    margin-top: 10pt;
    margin-left: 40pt;
    margin-right: 40pt;
    /* Glass Properties*/
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.16);
    backdrop-filter: blur(2px) saturate(150%);
    --webkit-backdrop-filter: blur(2px) saturate(150%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}