body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

.profile-image {
    height: 180pt;
    width: 180pt;
    overflow: hidden;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.profile-image img{
    height: 300pt;
    width: auto;
    object-fit: cover;
    transition: 1s;
}

.profile-image img:hover {
    transform: scale(1.3);
    cursor: pointer;
}

#name-card {
    padding: 5pt;
    height: auto;
    width: fit-content;
    margin-top: 5pt;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 15pt;
    border: 1px solid rgba(255, 255, 255, 0);
    color: rgba(0, 0, 0, 0);
    transition: 1s ease-in-out;
}

#name-card.glass {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px) saturate(110%);
    --webkit-backdrop-filter: blur(10px) saturate(110%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}